<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{../static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{../static/admin/style.css}" media="all">
    <script type="text/html" id="indexTpl">
        {{d.LAY_TABLE_INDEX+1}}
    </script>
</head>
<body class="layui-layout-body">
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">

                <form class="layui-form layui-form-pane" action="">
                    <input name="id" th:value="${id}" class="layui-input layui-hide">
                    <div class="layui-form-item">
                        <label class="layui-form-label">订单号</label>
                        <div class="layui-input-block">
                            <input type="text" name="id" th:value="${id}" readonly="readonly" placeholder="不可更改" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" align="center">
                        <div>
                            <img th:src="@{../static/shop/img/{picture}(picture=${pay})}" alt="">
                        </div>
                    </div>
                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="LAY-front-submit" id="LAY-front-submit" value="确认">
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script th:src="@{../static/layui/layui.js}"></script>
    <script>
        layui.use(['form'],function () {
            var $ = layui.$;
            var form = layui.form;
        });
    </script>
    <script>
        $(document).ready(function(){
            //alert([[${pay}]]);
            //$("#payPicture").attr("src","../static/shop/img/"+[[${pay}]]);
        });
    </script>
</body>
</html>
















