<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品销售管理</title>
    <!--销售管理页通用修改页面-->
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/admin/style.css}" media="all">
    <script type="text/html" id="indexTpl">
        {{d.LAY_TABLE_INDEX+1}}
    </script>
</head>
<!--<body class="layui-layout-body"> 去掉样式后弹出页面拥有滚动条-->
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form layui-form-pane" action="">
                    <input name="id" th:value="${obj?.id}" class="layui-input layui-hide"><!--当使用修改功能时，name为指向数据,th:value="${obj?.}意为收到修改信息-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品ID</label>
                        <div class="layui-input-block">
                            <input type="text" id="id" name="id" th:value="${obj?.id}" readonly="readonly" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">商品名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" th:value="${obj?.name}" lay-verify="required" placeholder="输入名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">品牌</label>
                        <div class="layui-input-block">
                            <input type="text" name="brand" th:value="${obj?.brand}" lay-verify="required" readonly="readonly" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">展示图</label>
                        <div class="layui-input-block">
                            <input type="text" name="picture" th:value="${obj?.picture}" lay-verify="required" placeholder="复制图片名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">促销价</label>
                        <div class="layui-input-block">
                            <input type="text" name="salePrice" th:value="${obj?.salePrice}" lay-verify="required" placeholder="输入促销价" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">原价</label>
                        <div class="layui-input-block">
                            <input type="text" name="price" th:value="${obj?.price}" lay-verify="required" placeholder="输入原价" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">描述</label>
                        <div class="layui-input-block">
                            <input type="text" name="information" th:value="${obj?.information}" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">安全库存</label>
                        <div class="layui-input-block">
                            <input type="text" name="safeStock" th:value="${obj?.safeStock}" lay-verify="required" placeholder="数值" autocomplete="off" class="layui-input">
                        </div>
                    </div>


<!--                    弹出隐藏式再次确认按钮-->
                    <!--竟然会影响添加功能-->
                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="LAY-front-submit" id="LAY-front-submit" value="确认">
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script>
        layui.use(['form'],function () {
            var $ = layui.$;

        });
    </script>
</body>
</html>
















