<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>电商企业后台管理系统</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/admin/style.css}" media="all">
<!--    <style type="text/css">-->
<!--        body{-->
<!--            background-image: url(/static/);-->
<!--            background-repeat: no-repeat;-->
<!--            background-size:cover;-->
<!--            background-attachment:fixed;-->
<!--        }-->
<!--    </style>-->
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body class="layui-layout-body">
    <!--顶部-->
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">电商企业后台管理系统</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a id="username"><img src="//t.cn/RCzsdCq" class="layui-nav-img" readonly="readonly" th:text="${obj?.name}"></a>
                    <dl class="layui-nav-child">
                        <dd><a id="clock">上下班打卡</a></dd>
                        <dd><a id="safe">安全管理</a></dd>
                        <dd><a href="/logout">退出系统</a></dd>
                    </dl>
                </li>
            </ul>
            <!--左侧目录-->
            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <ul class="layui-nav layui-nav-tree" lay-accordion="true"><!--layui-nav-tree：树状目录-->
                        <li class="layui-nav-item">
                            <a href="javascript:;" class="layui-nav-item">员工管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="#" class="site-demo-active" lay-href="/job" data-id="1" data-title="职位职权表">职位职权管理</a> </dd>
                                <dd><a href="#" class="site-demo-active" lay-href="/worker" data-id="2" data-title="工作人员表">员工管理</a> </dd>
                            </dl>
                        </li>

                        <li class="layui-nav-item">
                            <a href="javascript:;" class="layui-nav-item">销售管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="#" class="site-demo-active" lay-href="/goodsSale" data-id="3" data-title="商品销售条目表">商品销售信息管理</a> </dd>
                                <dd><a href="#" class="site-demo-active" lay-href="/order" data-id="4" data-title="订单一览表">订单管理</a> </dd>
                                <dd><a href="#" class="site-demo-active" lay-href="/" data-id="5" data-title="售后一览表">售后审核</a> </dd>
                            </dl>
                        </li>

                        <li class="layui-nav-item">
                            <a href="javascript:;" class="layui-nav-item">采购管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="#" class="site-demo-active" lay-href="/supplier" data-id="6" data-title="供应商表">供应商管理</a> </dd>
                                <dd><a href="#" class="site-demo-active" lay-href="/supplierContact" data-id="7" data-title="供应商联系人表">供应商联系人管理</a> </dd>
                                <dd><a href="#" class="site-demo-active" lay-href="/supply" data-id="8" data-title="供货表">供货管理</a> </dd>
                                <dd><a href="#" class="site-demo-active" lay-href="/purchase" data-id="9" data-title="采购订单">申请采购</a> </dd>
                                <dd><a href="#" class="site-demo-active" lay-href="/purchaseManage" data-id="10" data-title="采购审核">采购审核</a> </dd>
                            </dl>
                        </li>

                        <li class="layui-nav-item">
                            <a href="javascript:;" class="layui-nav-item">仓储管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="#" class="site-demo-active" lay-href="/warehouse" data-id="11" data-title="库位表">库位库存</a> </dd>
                                <dd><a href="#" class="site-demo-active" lay-href="/goodsStock" data-id="12" data-title="商品库存表">商品库存</a> </dd>
                                <dd><a href="#" class="site-demo-active" lay-href="/warehouseIn" data-id="13" data-title="入库单">入库</a> </dd>
                                <dd><a href="#" class="site-demo-active" lay-href="/warehouseOut" data-id="14" data-title="出库单">出库</a> </dd>
                                <dd><a href="#" class="site-demo-active" lay-href="/" data-id="15" data-title="调拨单">库存调拨</a> </dd>
                            </dl>
                        </li>

                        <li class="layui-nav-item">
                            <a href="javascript:;" class="layui-nav-item">技术部</a>
                            <dl class="layui-nav-child">
                                <dd><a href="#" class="site-demo-active" lay-href="/goodsTech" data-id="16" data-title="商品技术条目表">商品技术信息管理</a> </dd>
                                <dd><a href="#" class="site-demo-active" lay-href="/" data-id="17" data-title="整机订单">装配记录登记</a></dd>
                                <dd><a href="#" class="site-demo-active" lay-href="/AIACPage" data-id="18" data-title="算法参数">算法参数调整</a></dd>
                            </dl>
                        </li>

                        <li class="layui-nav-item">
                            <a href="javascript:;" class="layui-nav-item">物流管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="#" class="site-demo-active" lay-href="/logisticsOut" data-id="19" data-title="发货表">物流发货登记</a> </dd>
                                <dd><a href="#" class="site-demo-active" lay-href="/logisticsIn" data-id="20" data-title="收货表">物流收货登记</a> </dd>
                            </dl>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!--主体部分-->
        <div class="layui-body">
            <div class="layui-tab" lay-filter="demo" lay-allowclose="true" style="margin:0;"><!--lay-allowclose：是否可以关闭-->
                <ul class="layui-tab-title"></ul>
                <div class="layui-tab-content"></div>
            </div>
        </div>
        <!--页面底部-->
        <div class="layui-footer">
            底部区域
        </div>
    </div>
<!--    <div class="login-main">-->
<!--        <header class="layui-elip">后台首页</header>-->
<!--    </div>-->
    <script th:src="@{/static/layui/layui.js}"></script>
    <script>
        layui.use(['element','layer','jquery'],function () {
            var element = layui.element;
            var $ = layui.$;
            //左侧菜单树叶点击事件
            $('.site-demo-active').on('click',function () {
                var dataid = $(this);
                //判断右侧是否有tab
                if($(".layui-tab-title li[lay-id]").length<=0){
                    //没有tab，直接打开新的tab
                    active.tabAdd(dataid.attr('lay-href'),dataid.attr('data-id'),dataid.attr('data-title'));
                }else{
                    //判断该tab项是否已经存在
                    var isExist = false;
                    $.each($(".layui-tab-title li[lay-id]"),function () {
                        //如果点击左侧菜单栏传入的id在右侧tab项中的lay-id可以找到，说明该tab项已经打开
                        if($(this).attr("lay-id") == dataid.attr("data-id")){
                            isExist = true;
                        }
                    });
                    if(isExist == false){
                        //不存在当前id对应的tab，直接打开新的tab
                        active.tabAdd(dataid.attr('lay-href'),dataid.attr('data-id'),dataid.attr('data-title'));
                    }
                }
                //不管是不是新增了tab，最后都要转到要打开的选项页面
                active.tabChange(dataid.attr("data-id"));
            });

            //配置active，绑定几项事件，后面可以用active调用这些事件
            var active = {
                //新增tab项
                //url是页面地址，id对应data-id,name对应标题
                tabAdd: function (url,id,name) {
                    element.tabAdd('demo',{
                        title:name,
                        content:'<iframe data-frameid="'+id+'" scrolling="auto" frameborder="0" src="'+url+'" style="width:100%;height:800px;"></iframe>',
                        id:id
                    });
                },
                //根据id切换到指定的tab
                tabChange: function (id) {
                    element.tabChange('demo',id);
                },
                //关闭指定的tab
                tabDelete: function (id) {
                    element.tabDelete('demo',id);
                }
            }
        });
    </script>
    <script>
        $("#clock").click(function(){
            var $ = layui.$;
            $.ajax({
                url: '/clock',
                data: null,
                async: false,
                cache: false,
                success: function (str) {
                    layer.msg(str.msg,{icon:str.icon,anim:str.anim});
                }
            });
        });

        $("#safe").click(function(){
            layer.open({
                type: 2,
                title: '安全管理',
                content: '/workerSafe',
                shade: [0.8, '#393d49'],
                area: ['600px', '300px'],
                btn: ['提交', '取消'],
                yes: function (index, layero) {
                    var iframeWindow = window['layui-layer-iframe' + index];
                    //提交按钮
                    var submit = layero.find('iframe').contents().find("#LAY-front-submit");//contents指的啥？
                    //监听提交
                    iframeWindow.layui.form.on('submit(LAY-front-submit)', function (data) {
                        $.ajax({
                            url: '/workerEdit',//数据接收接口
                            type:"POST",
                            data: data.field,
                            dataType: 'json',
                            async: false,//提交等待,是否异步
                            cache: false,//缓存
                            //请求成功的回调函数,返回的数据在str中
                            success: function (str) {
                                layer.msg(str.msg, {icon: str.icon, anim: str.anim});
                            }
                        });
                        layer.close(index);//关闭弹窗(关闭最上层页面)
                    });
                    submit.trigger('click');
                },
                success: function (layero, index) {
                }
            });
            return false;
        });
    </script>

</body>
</html>