<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品一览表</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/admin/style.css}" media="all">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/html" id="indexTpl">
        {{d.LAY_TABLE_INDEX+1}}
    </script>

    <!--外部js-->
<!--    <script type="text/javascript" src=""></script>-->

</head>
<body class="layui-layout-body">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">

                    <div class="layui-card-header">当前订单类:
                        <select name="orderclass" id="orderclass">
                            <option value="orderRetail">单件订单</option>
                            <option value="orderCombination">整机订单</option>
                        </select>
                    </div>

                    <div class="layui-card-body">
                        <table class="layui-hide" id="main-table" lay-filter="main-table"></table>
                        <script type="text/html" id="toolbarDemo">
                            <!--查询-->
                            <span class="layui-inline" style="width: 240px;">
                                <input class="layui-input" name="param" id="param" placeholder="订单ID查询" autocomplete="off">
                            </span>
                            <span class="layui-btn layui-btn-sm layui-bg-red" lay-event="querySearch">
                                <i class="layui-icon">&#xe615;</i>查询
                            </span>
                        </script>
                        <script type="text/html" id="barDemo">
                            <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
                            <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/static/layui/layui.js}"></script>
    <!--初始表为主板-->
    <script>window.onload=function(){orderRetail();}</script>
    <script>
        <!--选项改动时执行函数-->
        $("#orderclass").change(function(){
            switch ($("#orderclass").val()){
                case 'orderRetail':
                    orderRetail();
                    break;
                case 'orderCombination':
                    orderCombination();
                    break;
            }
        });
    </script>

    <!------------------------------------------------------------------------------------------------------------------单件订单-->
    <script>
        function orderRetail(){
            layui.use(['table','form'],function () {
                var $ = layui.$;
                var table = layui.table;
                //定义当前页面表格
                table.render({
                    elem: '#main-table',
                    height: 600,
                    url: '/order/orderRetailQueryPage',
                    method: 'POST',
                    page: true,
                    id: 'table-load',
                    toolbar: '#toolbarDemo',
                    cols: [
                        [
                            {field: 'id', title: '订单ID', align: 'center',sort: true,width: '6%'},
                            {field: 'customerId', title: '用户ID', align: 'center'},
                            {field: 'goodsId', title: '商品ID', align: 'center'},
                            {field: 'goodsName', title: '商品名称', align: 'center'},
                            {field: 'number',title: '数量',align: 'center'},
                            {field: 'price', title: '单价', align: 'center'},
                            {field: 'sumPrice', title: '原价', align: 'center'},
                            {field: 'sumSalePrice', title: '总价', align: 'center'},
                            {field: 'state', title: '状态', align: 'center'},
                            {field: 'address', title: '送货地址', align: 'center'},
                            {field: 'logistics', title: '物流单号', align: 'center'},
                            {title: '操作', align: 'center', toolbar: '#barDemo', fixed: 'right',width: '10%'},//fixed:'right':靠右顶格
                        ]
                    ]
                });
                // 监听头工具栏事件（查询）
                table.on('toolbar(main-table)', function (obj) {
                    switch (obj.event) {

                        //查询
                        case 'querySearch':
                            var param = $('#param').val();
                            table.reload('table-load', {/*刷新当前页面,绿色为当前页面表格id*/
                                where: {
                                    param: param
                                }
                            });
                            $('#param').val(param);/*重现查询内容，防止与页面一同刷新*/
                            break;
                    }
                });
                // //监听修改和上下架功能
                table.on('tool(main-table)',function (obj) {
                    var data = obj.data;
                    switch (obj.event) {
                        case 'edit':
                            layer.open({
                                type: 2,
                                title: '修改订单信息',
                                content: '/order/orderRetailQueryById?id=' +data.id,
                                shade:[0.8,'#393d49'],
                                area:['600px','650px'],
                                btn:['确定','取消'],
                                yes:function (index,layero) {
                                    var iframeWindow = window['layui-layer-iframe'+index];
                                    var submit = layero.find('iframe').contents().find("#LAY-front-submit");
                                    //监听提交
                                    iframeWindow.layui.form.on('submit(LAY-front-submit)',function (data) {
                                        var field = data.field;
                                        $.ajax({
                                            url: '/order/orderRetailEdit',
                                            data: field,
                                            async: false,
                                            cache: false,
                                            success: function (str) {
                                                if(str.code === 0){
                                                    table.reload('table-load');
                                                }
                                                layer.msg(str.msg,{icon:str.icon,anim:str.anim});
                                            }
                                        });
                                        layer.close(index);     //关闭弹层
                                    });
                                    submit.trigger('click');
                                },
                                success:function (layero,index) {

                                }
                            });
                            break;
                        case 'del':
                            layer.confirm('确认删除？',function (index) {
                                $.ajax({
                                    url: '/order/orderRetailDelById?id=' +data.id,
                                    data: null,
                                    async: false,
                                    cache: false,
                                    success: function (str) {
                                        table.reload('table-load');
                                        layer.msg(str.msg,{icon:str.icon,anim:str.anim});
                                    }
                                });
                            })
                            break;
                    }
                });
            });
        }
    </script>

    <!------------------------------------------------------------------------------------------------------------------整机订单-->
    <script>
        function orderCombination(){
            layui.use(['table','form'],function () {
                var $ = layui.$;
                var table = layui.table;
                table.render({
                    elem: '#main-table',
                    height: 600,
                    url: '/order/orderCombinationQueryPage',
                    method: 'POST',
                    page: true,
                    id: 'table-load',
                    toolbar: '#toolbarDemo',
                    cols: [
                        [
                            {field: 'id', title: '订单编号', align: 'center', sort: true, width: '10%'},
                            {field: 'motherboardId', title: '主板ID', align: 'center'},
                            {field: 'motherboardId', title: '主板', align: 'center',
                                templet:function (line){
                                    var name;
                                    $.ajax({
                                        type: "GET",
                                        url: "/goodsTech/getGoods",
                                        data: {id: line.motherboardId},
                                        async: false,
                                        cache: false,
                                        success:function (data){
                                            name = data.name;
                                        }
                                    })
                                    return name;
                                }
                            },
                            {field: 'cpuId', title: '芯片ID', align: 'center'},
                            {field: 'cpuId', title: '芯片', align: 'center',
                                templet:function (line){
                                    var name;
                                    $.ajax({
                                        type: "GET",
                                        url: "/goodsTech/getGoods",
                                        data: {id: line.cpuId},
                                        async: false,
                                        cache: false,
                                        success:function (data){
                                            name = data.name+"￥"+line.cpuSalePrice;
                                        }
                                    })
                                    return name;
                                }
                            },
                            {field: 'gcId', title: '显卡ID', align: 'center'},
                            {field: 'gcId', title: '显卡', align: 'center',
                                templet:function (line){
                                    var name;
                                    $.ajax({
                                        type: "GET",
                                        url: "/goodsTech/getGoods",
                                        data: {id: line.gcId},
                                        async: false,
                                        cache: false,
                                        success:function (data){
                                            name = data.name+"￥"+line.gcSalePrice;
                                        }
                                    })
                                    return name;
                                }
                            },
                            {field: 'ramId', title: '内存ID', align: 'center'},
                            {field: 'ramId', title: '内存', align: 'center',
                                templet:function (line){
                                    var name;
                                    $.ajax({
                                        type: "GET",
                                        url: "/goodsTech/getGoods",
                                        data: {id: line.ramId},
                                        async: false,
                                        cache: false,
                                        success:function (data){
                                            name = data.name+"￥"+line.ramSalePrice;
                                        }
                                    })
                                    return name;
                                }
                            },
                            {field: 'ssdId', title: '硬盘ID', align: 'center'},
                            {field: 'ssdId', title: '硬盘', align: 'center',
                                templet:function (line){
                                    var name;
                                    $.ajax({
                                        type: "GET",
                                        url: "/goodsTech/getGoods",
                                        data: {id: line.ssdId},
                                        async: false,
                                        cache: false,
                                        success:function (data){
                                            name = data.name+"￥"+line.ssdSalePrice;
                                        }
                                    })
                                    return name;
                                }
                            },
                            {field: 'heatsinkId', title: '散热器ID', align: 'center'},
                            {field: 'heatsinkId', title: '散热器', align: 'center',
                                templet:function (line){
                                    var name;
                                    $.ajax({
                                        type: "GET",
                                        url: "/goodsTech/getGoods",
                                        data: {id: line.heatsinkId},
                                        async: false,
                                        cache: false,
                                        success:function (data){
                                            name = data.name+"￥"+line.heatsinkSalePrice;
                                        }
                                    })
                                    return name;
                                }
                            },
                            {field: 'powerId', title: '电源ID', align: 'center'},
                            {field: 'powerId', title: '电源', align: 'center',
                                templet:function (line){
                                    var name;
                                    $.ajax({
                                        type: "GET",
                                        url: "/goodsTech/getGoods",
                                        data: {id: line.powerId},
                                        async: false,
                                        cache: false,
                                        success:function (data){
                                            name = data.name+"￥"+line.powerSalePrice;
                                        }
                                    })
                                    return name;
                                }
                            },
                            {field: 'caseId', title: '机箱ID', align: 'center'},
                            {field: 'caseId', title: '机箱', align: 'center',
                                templet:function (line){
                                    var name;
                                    $.ajax({
                                        type: "GET",
                                        url: "/goodsTech/getGoods",
                                        data: {id: line.caseId},
                                        async: false,
                                        cache: false,
                                        success:function (data){
                                            name = data.name+"￥"+line.caseSalePrice;
                                        }
                                    })
                                    return name;
                                }
                            },
                            {field: 'sumSalePrice', title: '总价',sort: true, align: 'center'},
                            {field: 'state', title: '状态', align: 'center'},
                            {field: 'address', title: '送货地址', align: 'center'},
                            {field: 'logistics', title: '物流单号', align: 'center'},
                            {title: '操作', align: 'center', toolbar: '#barDemo', fixed: 'right',width: '10%'},
                        ]
                    ]
                });
                // 监听头工具栏事件（查询）
                table.on('toolbar(main-table)', function (obj) {
                    switch (obj.event) {

                        //查询
                        case 'querySearch':
                            var param = $('#param').val();
                            table.reload('table-load', {
                                where: {
                                    param: param
                                }
                            });
                            $('#param').val(param);
                            break;
                    }
                });
                // //监听修改和上下架功能
                table.on('tool(main-table)',function (obj) {
                    var data = obj.data;
                    switch (obj.event) {
                        case 'edit':
                            layer.open({
                                type: 2,
                                title: '修改订单信息',
                                content: '/order/orderCombinationGetById?id=' +data.id,
                                shade:[0.8,'#393d49'],
                                area:['600px','650px'],
                                btn:['确定','取消'],
                                yes:function (index,layero) {
                                    var iframeWindow = window['layui-layer-iframe'+index];
                                    var submit = layero.find('iframe').contents().find("#LAY-front-submit");
                                    //监听提交
                                    iframeWindow.layui.form.on('submit(LAY-front-submit)',function (data) {
                                        var field = data.field;
                                        $.ajax({
                                            url: '/order/orderCombinationEdit',
                                            data: field,
                                            async: false,
                                            cache: false,
                                            success: function (str) {
                                                if(str.code === 0){
                                                    table.reload('table-load');
                                                }
                                                layer.msg(str.msg,{icon:str.icon,anim:str.anim});
                                            }
                                        });
                                        layer.close(index);
                                    });
                                    submit.trigger('click');
                                },
                                success:function (layero,index) {

                                }
                            });
                            break;

                        case 'del':
                            layer.confirm('确认删除？',function (index) {
                                $.ajax({
                                    url: '/order/orderCombinationDelById?id=' +data.id,
                                    data: null,
                                    async: false,
                                    cache: false,
                                    success: function (str) {
                                        table.reload('table-load');
                                        layer.msg(str.msg,{icon:str.icon,anim:str.anim});
                                    }
                                });
                            })
                            break;

                    }
                });
            });
        }
    </script>

</body>
</html>
















