<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>供应商表</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/admin/style.css}" media="all">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/html" id="indexTpl">
        {{d.LAY_TABLE_INDEX+1}}
    </script>
</head>
<body class="layui-layout-body">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header"></div>
                    <div class="layui-card-body">
                        <table class="layui-hide" id="main-table" lay-filter="main-table"></table>
                        <script type="text/html" id="toolbarDemo">
                            <!--添加-->
                            <span class="layui-inline" lay-event="add"><i class="layui-icon">&#xe654;</i> </span>
                            <!--查询-->
                            <span class="layui-inline" style="width: 240px;">
                                <input class="layui-input" name="param" id="param" placeholder="供应商名称查询" autocomplete="off">
                            </span>
                            <span class="layui-btn layui-btn-sm layui-bg-red" lay-event="querySearch">
                                <i class="layui-icon">&#xe615;</i>查询
                            </span>
                        </script>

                        <script type="text/html" id="supply">
                            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="supply">查看供货表</a>
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="suppliercontact">查看联系人</a>
                        </script>

                        <script type="text/html" id="barDemo">
                            <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script>
        layui.use(['table','form'],function () {
            var $ = layui.$;
            var table = layui.table;
            //定义当前页面表格
            table.render({
                elem: '#main-table',
                height: 650,
                url: '/supplier/supplierQueryPage',
                method: 'POST',
                page: true,
                id: 'table-load',
                toolbar: '#toolbarDemo',
                cols: [
                    [
                        {field: 'id', title: '供货商编号', align: 'center',},
                        {field: 'name', title: '名称', align: 'center'},
                        {field: 'callNumber', title: '联系电话', align: 'center'},
                        {field: 'information', title: '信息', align: 'center'},
                        {title: '相关信息', align: 'center', toolbar: '#supply'},
                        {title: '操作', align: 'center', toolbar: '#barDemo', fixed: 'right'},
                    ]
                ]
            });
            //监听头工具栏事件（添加，查询）
            table.on('toolbar(main-table)', function (obj) {
                switch (obj.event) {
                    //添加
                    case 'add':
                        layer.open({
                            type: 2,
                            title: '新增供货商',
                            content: '/supplier/supplierPage',//指向页面地址
                            shade: [0.8, '#393d49'],//透明度
                            area: ['600px', '400px'],
                            btn: ['提交', '取消'],
                            yes: function (index, layero) {
                                var iframeWindow = window['layui-layer-iframe' + index];
                                var submit = layero.find('iframe').contents().find("#LAY-front-submit");
                                //监听提交
                                iframeWindow.layui.form.on('submit(LAY-front-submit)', function (data) {
                                    var field = data.field;
                                    $.ajax({
                                        url: '/supplier/supplierAdd',
                                        data: field,
                                        async: false,//是否异步
                                        cache: false,//缓存
                                        success: function (str) {
                                            if (str.code === 0) {
                                                table.reload('table-load');
                                            }
                                            layer.msg(str.msg, {icon: str.icon, anim: str.anim});
                                        }
                                    });
                                    layer.close(index);
                                });
                                submit.trigger('click');
                            },
                            success: function (layero, index) {
                            }
                        });
                        break;

                    //查询
                    case 'querySearch':
                        var param = $('#param').val();
                        table.reload('table-load', {
                            where: {
                                param: param
                            }
                        });
                        $('#param').val(param);
                        break;
                }
            });
            // //监听修改和删除功能
            table.on('tool(main-table)',function (obj) {
                var data = obj.data;
                switch (obj.event) {
                    case 'edit':
                        layer.open({
                            type: 2,
                            title: '修改供货商信息',
                            content: '/supplier/supplierQueryById?id=' +data.id,
                            shade:[0.8,'#393d49'],
                            area:['600px','400px'],
                            btn:['确定','取消'],
                            yes:function (index,layero) {
                                var iframeWindow = window['layui-layer-iframe'+index];
                                var submit = layero.find('iframe').contents().find("#LAY-front-submit");
                                //监听提交
                                iframeWindow.layui.form.on('submit(LAY-front-submit)',function (data) {
                                    var field = data.field;
                                    $.ajax({
                                        url: '/supplier/supplierEdit',
                                        data: field,
                                        async: false,
                                        cache: false,
                                        success: function (str) {
                                            if(str.code === 0){
                                                table.reload('table-load');
                                            }
                                            layer.msg(str.msg,{icon:str.icon,anim:str.anim});
                                        }
                                    });
                                    layer.close(index);
                                });
                                submit.trigger('click');
                            },
                            success:function (layero,index) {

                            }
                        });
                        break;
                    case 'del':
                        layer.confirm('确认删除？',function (index) {
                            $.ajax({
                                url: '/supplier/supplierDelById?id=' +data.id,
                                data: null,
                                async: false,
                                cache: false,
                                success: function (str) {
                                    table.reload('table-load');
                                    layer.msg(str.msg,{icon:str.icon,anim:str.anim});
                                }
                            });
                        })
                        break;
                    case 'supply':
                        layer.open({
                            type: 2,
                            title: '供货列表',
                            content: '?id=' +data.id,
                            shade:[0.8,'#393d49'],
                            area:['1000px','650px'],
                            btn:['确定','取消'],
                            yes:function (index,layero) {
                                var iframeWindow = window['layui-layer-iframe'+index];
                                var submit = layero.find('iframe').contents().find("#LAY-front-submit");
                                //监听提交
                                iframeWindow.layui.form.on('submit(LAY-front-submit)',function (data) {


                                    layer.close(index);
                                });
                                submit.trigger('click');
                            },
                            success:function (layero,index) {
                            }
                        });
                        break;
                }
            });
        });
    </script>
</body>
</html>
















